*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root{
    --bg: #141414;
    --bg-div: #1f1f1f;
    --text-color: #ffffff;
    --link: #333333;
    --link-hover: #C4F824;
    --switch-bg-url: url(assets/sun.svg);
}

.light{
    --bg: #ede6e6;
    --bg-div: #ffffff;
    --text-color: #000000;
    --link: #33333336;
    --link-hover: rgb(184, 23, 242);
    --switch-bg-url: url(assets/moon-stars.svg);
}

body{
    background-color: var(--bg);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div{
    background-color: var(--bg-div);
    transition: 0.7s;
    border-radius: 12px;
    padding: 40px;
    text-align: center;
}


h1, p, a{
    color: var(--text-color);
    transition: 0.7;
}

div img{
    border-radius: 50%;
    margin-bottom: 24px;
}

div h1{
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
    margin-bottom: 4px;
}

div strong{
    font-size: 14px;
    line-height: 21px;
    color: var(--link-hover);
}

div p{
    font-size: 14px;
    line-height: 21px;
    margin-block: 10px;
}

#switch{
    padding: 20px 0px;
    width: 64px;
    position: relative;
    margin: 0 auto;
}

#switch button{
    display: block;
    width: 32px;
    height: 32px;
    padding: 4px;
    background: #ffffff var(--switch-bg-url) no-repeat center;
    border: none;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
    transition: 0.5s;
}

.light #switch button{
    right: 0;
    left: initial;
    transition: 0.5s;
}

#switch span{
    display: block;
    width: 64px;
    height: 24px;
    background-color: var(--link);
    border: 1px solid var(--link-hover);
    border-radius: 999px;
}

div ul{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

div li{
    list-style: none;
    padding-inline: 100px;
}

div a{
    text-decoration: none;
}

div li{
    border-radius: 8px;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    background-color: var(--link);
}

div li:hover{
    background-color: var(--link-hover);
    transition: background 0.2s;
}

div a{
    display: block;
    padding: 12px;
}

div a:hover{
    color: var(--bg);
    transition: 0.2s;
}